.header__search {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 5px 0px 5px;
  align-items: center;
  border-radius: 24px;
  background-color: #fff;
  flex: 1;
  border: 0.5px solid rgb(0, 0, 0);
}

.header__searchBar {
  outline: none;
  border: none;
}
.header__searchInput {
  height: 12px;
  padding: 10px;
  border: none;
  width: 100%;
}
.btn-buscar {
  background-color: #fff;
  color: rgb(85, 85, 85);
  padding: 5px;
  border-radius: 25px;
  border: 0px solid rgb(255, 255, 255);
}
